

.cell {
padding: 1.7em;
border: 2px dotted #d4d4d4;
    position: relative;
}
.cell:hover > .removeCellButton{
    display: block;
}
.removeCellButton{
    display: none;
    position: absolute;
    top: 0;
    margin: 7px;
    right: 0;
}